[Unit]
Description=To change In test buffer
After=network.target

[Service]
Type=simple
ExecStart=/opt/plug/plug.sh start
ExecStop=/opt/plug/plug.sh stop
#TimeoutStartSec=0

[Install]
WantedBy=default.target
