[Unit]
Description=To change In test buffer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/plug
#TimeoutStartSec=0

[Install]
WantedBy=default.target
